.concept {
  font-weight: normal;
  /* margin-top: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem; */
  .untitled {
    color: var(--color-gray-400);
  }
  button[aria-expanded='true'] svg {
    rotate: 90deg;
  }
}