/* module.css not used currently because of persistent and inscrutable Rollup error. Current CSS is light enough that it can be included inline, but this is not a scalable solution. To be addressed in subsequent work. */

.skosTreeView {
  list-style: none;
}
.skosTreeView li {
  margin-top: .75rem;
}
.level_0 {
  padding-left: 0;
  margin-top: 1rem;
}
.topConcept, .orphan {
  padding-top: .5rem;
}
.topConcept {
  font-weight: bold;
}
.orphan, .childConcept {
  font-weight: normal;
}